html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

main {
    padding: 20px;
    width: 100%;
}

hr {
    border: 1px solid $heading-border;
    border-bottom: none;
    border-right: none;
    border-left: none;
    margin: 2em 0;
}
