* {
  box-sizing: border-box;
}

body {
  @include font();
  color: $text-color;
  font-size: $base-font;
  padding: 20px;
}

h1,h2,h3,h4,h5,h6 {
  @include header-font();
  font-weight: bold;
}

.complete {
  text-align: center;

  .tick {
    display: block;
    width: 188px;
    height: 188px;
    margin: 50px auto 0;
  }

  button {
    position: absolute;
    bottom: 15px;
    left: 20px;
    right: 20px;
    max-width: calc(100% - 40px);
  }
}
