.card-icon {
	background: url(../img/cardicons-sprite.svg) no-repeat;
}

.cctype-amex {
	background-position: 0 0;
	width: 40px;
	height: 25.05px;
}

.cctype-diners {
	background-position: 0 16.57317695053544%;
	width: 40px;
	height: 25.12px;
}

.cctype-discover {
	background-position: 0 33.26722538545199%;
	width: 40px;
	height: 25.69px;
}

.cctype-jcb {
	background-position: 0 49.71953085160632%;
	width: 40px;
	height: 25.12px;
}

.cctype-maestro {
	background-position: 0 66.29270780214176%;
	width: 40px;
	height: 25.12px;
}

.cctype-mastercard {
	background-position: 0 82.8658847526772%;
	width: 40px;
	height: 25.12px;
}

.cctype-visa {
	background-position: 0 99.43906170321264%;
	width: 40px;
	height: 25.12px;
}

