.product {
  display: block;
  text-align: center;
  @include header-font();

  .title {
    font-size: $medium-font;
    font-weight: 400;
    padding-bottom: 0.35em;
    margin: 0;
  }

  .price {
    font-size: $very-large-font;
    line-height: 1em;
    font-weight: 200;
  }
}
