.management .signed-out {
    width: 100%;
    margin-top: 26%;

    p {
        width: 220px;
        margin: 0 auto 1em auto;
    }

    .button.quiet {
        background-color: transparent;
        width: 100%;
        margin-bottom: 0;
    }
}
