.subscription-list {
    margin: 0;
    padding: 0;

    .small {
        max-width: 300px;
    }

    li {
        list-style-type: none;
        padding: 2em 0 0;
        margin: 2em 0 0;
        border-top: 1px solid $heading-border;

        &:first-child {
            border-top: none;
        }
    }

}

.subscription {
    overflow: hidden;

    .product {
        max-width: 50%;

        img {
            display: block;
            float: left;
            margin-right: 20px;
            width: 50px;
        }

        .meta {
            float: left;
            width: calc(100% - 70px);
        }

        .seller {
            font-weight: normal;
            margin: 0 0 0.1em 0;
            overflow: hidden;
            padding: 0;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .description {
            margin: 0 0 1em;
            text-align: left;
        }

        .next-payment,
        .price {
            border-top: 1px solid $heading-border;
            display: block;
            padding: 0.5em 0;
        }
    }

    .actions,
    .cancel,
    .change-pay-account {
        float: right;
    }
}
