.subscription-list {
    margin: 0;
    max-width: 600px;
    padding: 0;
}

.subscription {

    list-style-type: none;
    padding: 2em 0 0;
    margin: 2em 0 0;
    border-top: 1px solid $heading-border;

    &:first-child {
        border-top: none;
    }

    .product {
        float: left;

        img {
            display: block;
            width: 50px;
            float: left;
            margin-right: 10px;
        }

        .seller {
            padding: 0;
            margin: 0 0 0.1em 0;
            font-weight: normal;
            float: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .description {
            text-align: left;
        }
    }

    .price {
        float: right;
    }

    nav {
        clear: both;
        .cancel {
            float: left;
        }
        .change-pay-account {
            float: right;
        }
    }

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
