<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="{{ appMedia }}/public/dist/transaction.css" />
    <title>{{ title }}</title>
  </head>
  <body>
    <main>
      <div id="modal">
      </div>
      <div id="error">
      </div>
      <div id="view">
        {% block page %}{% endblock %}
      </div>
    </main>
    {% block script %}
    {% endblock %}
  </body>
</html>
