{% extends 'base-styleguide.html' %}

{% block page %}
<form id="checkout" action="/your/server/endpoint" method="post">
  <input placeholder="Card holder name" data-braintree-name="cardholder_name">
  <input placeholder="Card number" data-braintree-name="number">
  <input class="month" placeholder="MM" data-braintree-name="expiration_month">
  <input class="year" placeholder="YY" data-braintree-name="expiration_year">
  <input class="cvv" placeholder="CVV" data-braintree-name="cvv">
  <button disabled type="submit" id="submit">Subscribe</button>
</form>
{% endblock %}
