{% extends 'base-styleguide.html' %}

{% block page %}
<form id="checkout" action="/your/server/endpoint" method="post">
  <label>
    <span class="vh">Card holder name</span>
    <input placeholder="Card holder name" data-braintree-name="cardholder_name">
  </label>
  <label>
    <span class="vh">Card number</span>
    <span class="card-icon"></span>
    <input class="card-number" placeholder="Card number" data-braintree-name="number" value="4111111">
  </label>
  <label>
    <span class="vh">Card expiration date</span>
    <input class="expiration" placeholder="MM/YY" data-braintree-name="expiration_date">
  </label>
  <label>
    <span class="vh">Card verification value</span>
    <input class="cvv" placeholder="CVV" data-braintree-name="cvv">
  </label>
  <button disabled type="submit" id="submit">Subscribe</button>
</form>
{% endblock %}
