@mixin font() {
  font-family: $default-font;
}

@mixin header-font() {
  font-family: $header-font;
}

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
      @content;
    }
  }
  @else {
    @warn 'Unfortunately, no value could be retrieved from `#{$breakpoint}`. '
    + 'Please make sure it is defined in `$breakpoints` map.';
  }
}

@mixin placeholder() {
  color: $input-placeholder-color !important;
}

@mixin center-text() {
  text-align: center !important;
}
