@import '_settings.scss';

$image-path: '#{$base-path}img/';
$font-path: '#{$base-path}fonts/';
$svg-path: '#{$base-path}svg/';

// Font Family Vars
$default-font: "Clear Sans", Helvetica, Arial, sans-serif;
$header-font: "Fira Sans", Helvetica, Arial, sans-serif;

// Colour Vars
$baby-blue: #E0F1FA;
$light-blue: #0096dc;
$uniform-blue: #0080D8;
$the-real-blue: #0095dd;
$management-grey: #F2F2F2;
$subtle-grey: #F5F5F5;
$stormy-grey: #BDBFBD;
$moody-grey: #8A8A8A;
$awooga-red: #d63920;

$active-orange: #FF9500;
$active-grey: #343F48;
$ship-grey: #c1c1c1;
$prefs-grey: #424F5A;
$hover-grey: #5E6972;
$dark-grey: #333;
$lightish-grey: #EBEBEB;
$mozlogo: #A5B1B6;

$heading-border: #C8C8C8;

$button-background-color: $the-real-blue;
$button-background-disabled-color: #8a9ba8;
$button-background-hover-color: #08c;
$default-focus-color: $light-blue;

$error-background-color: #d63920;
$error-text-color: #d63920;

$input-border-color: #424f59;
$input-text-color: #424f59;
$input-placeholder-color: #8a9ba8;
$input-row-border-color: #8a9ba8;
$input-row-focus-border-color: $the-real-blue;
$input-row-hover-border-color: #424f59;
$input-row-box-shadow-color: #f2f2f2;
$input-left-right-padding: 20px;

$radio-selected-background : $baby-blue;
$radio-selected-border: $uniform-blue;

$message-text-color: #fff;
$mobile-html-background-color: #fff;

$text-color: #424f59;

// Font-Size Variables
$very-large-font: 42px;
$extra-large-font: 36px;
$large-font: 24px;
$medium-font: 18px;
$base-font: 14px;
$small-font: 12px;
$media-adjustment: 2px;


// Animation Variables
$short-transition: 150ms;
$medium-transition: $short-transition * 3;
$long-transition: $short-transition * 7;

// Breakpoints.
$breakpoints: (
  small: '(max-width: 520px), (orientation:landscape) and (min-width:481px) and (max-height: 480px)',
  big: '(min-width: 521px)'
);

// Border-Radius Variables
$small-border-radius: 4px;
$big-border-radius: 4px;
