.app-error {
    background: rgba(255,255,255,0.8);
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;

    .msg {
        @include header-font();
        color: $error-text-color;
        margin: 0;
        position: relative;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
    }
}
