.button {
  display: inline-block;
  text-decoration: none;
}

.button,
a.button,
button {
  @include font();
  background: $button-background-color;
  border: 0;
  border-radius: $small-border-radius;
  color: $message-text-color;
  cursor: pointer;
  font-size: $medium-font;
  margin: 10px 0;
  padding: 0.5em 1em;
  transition-duration: $short-transition;
  transition-property: background-color;
  text-align: center;
  width: 100%;
  line-height: 1.5em;

  &:active,
  &:hover,
  &:focus {
    background: $button-background-hover-color;
  }

  &:focus {
    @include focus();
  }

  &:disabled,
  &.disabled {
    background: $button-background-disabled-color;
    cursor: not-allowed;
  }

  &.warning {
    background: $awooga-red;
  }
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
