.notification-list {
  color: #fff;
  left: 200px;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 30;

  .transaction & {
    position: static;
    left: 20px;
    right: 20px;
    margin-bottom: 20px;
  }
}



.notification {
  list-style-type: none;
  margin: 0;
  padding: 0.5em;
  position: relative;

  .transaction & {
    border-radius: 3px;
  }

  &.error {
    background: transparentize($awooga-red, 0.1);
  }

  &.info {
    background: transparentize($light-blue, 0.1);
  }

  .dismiss:after {
    color: #fff;
    content: '×';
    display: block;
    height: 2em;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 2em;
  }
}

.notification-enter {
  opacity: 0.01;

  &.notification-enter-active {
    opacity: 1;
    transition: opacity .5s ease-in;
  }
}

.notification-leave {
  opacity: 1;

  &.notification-leave-active {
    opacity: 0.01;
    transition: opacity .5s ease-in;
  }
}

.notification-appear {
  opacity: 0.01;
  transition: opacity .5s ease-in;

  &.notification-appear-active {
    opacity: 1;
  }
}
